<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body class="text-center"></body>
    <div class="login">
    <form class="form-signin"method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
        <label for="id_username" class="sr-only">Login</label>
        <input id="id_username" name="username" class="form-control" placeholder="Email address" autocomplete="username" autofocus="">
        <label for="id_password" class="sr-only">Hasło</label>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Hasło" >
        <button class="btn btn-lg btn-primary btn-block" type="submit">Logowanie</button>
      </form>
      </div>
    </body>
</html>